p{
    background-color: #364966
    ;
    text-decoration:#b78460
    ;
}
h1{
    color: #3548c9
}

/*galeria*/

.galeria-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 40px;
    border:5%;
}
.hijo-galeria{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 10px;
}
.hijo-galeria img{
    vertical-align: top;
    width: 100%;
    height: 250px;
}
.pie-fotos{
    background-color: black;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}